// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "mynavbar";
@import "card";
@import "button";



.title {
  color: #f8f8f8;
  font-family: 'Pacifico', cursive;
}

.all {
  background: #ACACAC;
}
